@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system-font,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
  color: #5c6271;
  font-size: 16px;
  background: #faf9f8;
  line-height: 1.6;
}

@layer utilities {
  /* // 表单 通用 样式 */
  .form-input{
    @apply w-full px-4 py-2 border border-gray-200 rounded-lg shadow-sm bg-white
    focus:ring-2 focus:ring-violet-200 focus:border-violet-300
    hover:border-violet-200 transition-colors duration-200;
  }
}